# Idea:
Our solution: LDA + keywords from clusters of BERT based embeddings of noun phrases and verbs :
- Each noun phrase and verb in the texts is  transformed to embedding vector using Universal Sentence Encoder (transformer based on BERT)
- Embedding vectors from (a) are grouped into clusters with cosign similarity >= 70%
- Words/phrases with embedding vectors closest to the centers of resulting clusters form key word/phrase
- Each text in the training sample is converted to collection of key-phrases by replacing its noun phrases and verbs with keyword/phrases and deleting other words
- LDA is performed on the transformed texts


**Reference:**<br>
- Daniel Cer, Yinfei Yang, Sheng-yi Kong, Nan Hua, Nicole Limtiaco, Rhomni St. John, Noah Constant, Mario Guajardo-Céspedes, Steve Yuan, Chris Tar, Yun-Hsuan Sung, Brian Strope, Ray Kurzweil. **Universal Sentence Encoder.** *arXiv:1803.11175, 2018.*

# Load data and python libraries

In [1]:
%matplotlib inline 

import warnings
warnings.filterwarnings('ignore')

# topic modeling libraries
from gensim import models, corpora
from gensim.models.coherencemodel import CoherenceModel
import re
import spacy
nlp = spacy.load("en_core_web_md")


# supporting libraries
import pandas as pd
import numpy as np
import time
import pickle

import topic_modeling as tm

In [2]:
# load data
with open("./transition_files/df_train_for_LDA.pickle", 'rb') as f:
    # The protocol version used is detected automatically, so we do not
    # have to specify it.
    df_train = pickle.load(f)

print("df_train.shape:", df_train.shape)
print("df_train.columns:",df_train.columns)

df_train.shape: (33982, 18)
df_train.columns: Index(['date', 'author', 'title', 'url', 'section', 'publication',
       'first_10_sents', 'list_of_first_10_sents', 'list_of_verb_lemmas',
       'noun_phrases', 'list_of_nouns', 'list_of_lemmas', 'ID',
       'group_level_1', 'group_level_2', 'group_level_3', 'all_words',
       'all_key_words'],
      dtype='object')

In [3]:
#inputs for testing
ind = 10

text = df_train['first_10_sents'].iloc[ind]
noun_phrases = df_train['noun_phrases'].iloc[ind]
list_of_verb_lemmas = df_train['list_of_verb_lemmas'].iloc[ind]
all_key_words = df_train['all_key_words'].iloc[ind]

text

'THE American Economic Associations annual conference, held each January, is ostensibly a gigantic teachin, with lots of seminars featuring famous economists. But the threeday event, held this year in San Francisco with 13,000 attending, is also a big jobs fair. More than 500 employersboth universities and companieswere tied up in hotel rooms holding marathon interview sessions with freshly minted PhDs. The ballroom of the Marriott was set aside for a hundred more. It is a gruelling three days for candidates: one exhausted PhD likened it to speeddating. It is also arduous for recruiters. Towards the end of the first day Alan Green and Christopher de Bodisco of Stetson University, a small private college in Florida, review the candidates they have seen so far. They are looking for someone with an interest in health and development. They plan to grill a dozen candidates each day before inviting the most promising ones to visit its campus and meet the rest of the faculty. Upgrade your inbox and get our Daily Dispatch and Editors Picks.'

In [4]:
params={"topics_df_path": './output/lda_keywords/topics.pickle',
                           "word_embeddings": './output/lda_keywords/word_embeddings.pickle',
                           "first_dictionary_path": "./output/lda_keywords/dictionary1.pickle",
                           "first_LDA_model_path": "./output/lda_keywords/LDA_model1"
                           }

***

In [6]:
# get clustered words' embedings and cluster names(key words) from train corpus
with open(params["word_embeddings"], 'rb') as f:
    df_emb = pickle.load(f)

columns = ["emb_" + str(i) for i in range(300)]
df_emb = df_emb.drop(columns=columns)
df_emb.head()

,word,cl_number,cluster_label,cl_size,ID,emb_vector
0,rise,1486,rise,20,0,"[-0.46326, 0.49222, 0.15795, 0.10404, 0.23174,..."
1,ascent,1486,rise,20,1,"[0.0056534, -0.17881, -0.54648, 0.030204, 0.10..."
2,climb,1486,rise,20,2,"[0.0056534, -0.17881, -0.54648, 0.030204, 0.10..."
3,defenceunless,1486,rise,20,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,trudge,1486,rise,20,4,"[0.69606, 0.29966, -0.14856, -0.14035, -0.0646..."

In [7]:
df_tmp = df_emb[df_emb['word'].str.contains(' ') == False]
df_tmp.shape, df_emb.shape

((76718, 6), (419327, 6))

In [8]:
def get_word_embeddings(df_data, column = "word", N_batches=500):
    #split data into N batches
    N = N_batches

    part = int(len(df_data)/N)
    print(N, "batches with", part + 1, column + "s each")

    #get embeddings for each N words
    index = 0
    batch_num = 0
    list_dfs = []

    while index < len(df_data): 
        df_tmp = df_data.iloc[index : index + part].copy()
        df_tmp = df_tmp.reset_index(drop=True)
        print ("Batch number:", batch_num + 1, "out of ", N, "index:", index)

        df_tmp['emb_vector'] = df_tmp[column].apply(lambda w: nlp(w).vector)  

        columns = ["emb_" + str(i) for i in range(300)]
        df_tmp[columns] = np.array(list(df_tmp['emb_vector']))

        list_dfs.append(df_tmp)
        batch_num = batch_num + 1
        index = index + part

    #concatinate batches into single dataset
    df_emb = pd.concat(list_dfs)

    return df_emb

In [9]:
%%time
df_tmp = get_word_embeddings(df_emb, column = "word", N_batches=500)   
df_tmp.head()

500 batches with 839 words each
Batch number: 1 out of  500 index: 0
Batch number: 2 out of  500 index: 838
Batch number: 3 out of  500 index: 1676
Batch number: 4 out of  500 index: 2514
Batch number: 5 out of  500 index: 3352
Batch number: 6 out of  500 index: 4190
Batch number: 7 out of  500 index: 5028
Batch number: 8 out of  500 index: 5866
Batch number: 9 out of  500 index: 6704
Batch number: 10 out of  500 index: 7542
Batch number: 11 out of  500 index: 8380
Batch number: 12 out of  500 index: 9218
Batch number: 13 out of  500 index: 10056
Batch number: 14 out of  500 index: 10894
Batch number: 15 out of  500 index: 11732
Batch number: 16 out of  500 index: 12570
Batch number: 17 out of  500 index: 13408
Batch number: 18 out of  500 index: 14246
Batch number: 19 out of  500 index: 15084
Batch number: 20 out of  500 index: 15922
Batch number: 21 out of  500 index: 16760
Batch number: 22 out of  500 index: 17598
Batch number: 23 out of  500 index: 18436
Batch number: 24 out of  500 index: 19274
Batch number: 25 out of  500 index: 20112
Batch number: 26 out of  500 index: 20950
Batch number: 27 out of  500 index: 21788
Batch number: 28 out of  500 index: 22626
Batch number: 29 out of  500 index: 23464
Batch number: 30 out of  500 index: 24302
Batch number: 31 out of  500 index: 25140
Batch number: 32 out of  500 index: 25978
Batch number: 33 out of  500 index: 26816
Batch number: 34 out of  500 index: 27654
Batch number: 35 out of  500 index: 28492
Batch number: 36 out of  500 index: 29330
Batch number: 37 out of  500 index: 30168
Batch number: 38 out of  500 index: 31006
Batch number: 39 out of  500 index: 31844
Batch number: 40 out of  500 index: 32682
Batch number: 41 out of  500 index: 33520
Batch number: 42 out of  500 index: 34358
Batch number: 43 out of  500 index: 35196
Batch number: 44 out of  500 index: 36034
Batch number: 45 out of  500 index: 36872
Batch number: 46 out of  500 index: 37710
Batch number: 47 out of  500 index: 38548
Batch number: 48 out of  500 index: 39386
Batch number: 49 out of  500 index: 40224
Batch number: 50 out of  500 index: 41062
Batch number: 51 out of  500 index: 41900
Batch number: 52 out of  500 index: 42738
Batch number: 53 out of  500 index: 43576
Batch number: 54 out of  500 index: 44414
Batch number: 55 out of  500 index: 45252
Batch number: 56 out of  500 index: 46090
Batch number: 57 out of  500 index: 46928
Batch number: 58 out of  500 index: 47766
Batch number: 59 out of  500 index: 48604
Batch number: 60 out of  500 index: 49442
Batch number: 61 out of  500 index: 50280
Batch number: 62 out of  500 index: 51118
Batch number: 63 out of  500 index: 51956
Batch number: 64 out of  500 index: 52794
Batch number: 65 out of  500 index: 53632
Batch number: 66 out of  500 index: 54470
Batch number: 67 out of  500 index: 55308
Batch number: 68 out of  500 index: 56146
Batch number: 69 out of  500 index: 56984
Batch number: 70 out of  500 index: 57822
Batch number: 71 out of  500 index: 58660
Batch number: 72 out of  500 index: 59498
Batch number: 73 out of  500 index: 60336
Batch number: 74 out of  500 index: 61174
Batch number: 75 out of  500 index: 62012
Batch number: 76 out of  500 index: 62850
Batch number: 77 out of  500 index: 63688
Batch number: 78 out of  500 index: 64526
Batch number: 79 out of  500 index: 65364
Batch number: 80 out of  500 index: 66202
Batch number: 81 out of  500 index: 67040
Batch number: 82 out of  500 index: 67878
Batch number: 83 out of  500 index: 68716
Batch number: 84 out of  500 index: 69554
Batch number: 85 out of  500 index: 70392
Batch number: 86 out of  500 index: 71230
Batch number: 87 out of  500 index: 72068
Batch number: 88 out of  500 index: 72906
Batch number: 89 out of  500 index: 73744
Batch number: 90 out of  500 index: 74582
Batch number: 91 out of  500 index: 75420
Batch number: 92 out of  500 index: 76258
Batch number: 93 out of  500 index: 77096
Batch number: 94 out of  500 index: 77934
Batch number: 95 out of  500 index: 78772
Batch number: 96 out of  500 index: 79610
Batch number: 97 out of  500 index: 80448
Batch number: 98 out of  500 index: 81286
Batch number: 99 out of  500 index: 82124
Batch number: 100 out of  500 index: 82962
Batch number: 101 out of  500 index: 83800
Batch number: 102 out of  500 index: 84638
Batch number: 103 out of  500 index: 85476
Batch number: 104 out of  500 index: 86314
Batch number: 105 out of  500 index: 87152
Batch number: 106 out of  500 index: 87990
Batch number: 107 out of  500 index: 88828
Batch number: 108 out of  500 index: 89666
Batch number: 109 out of  500 index: 90504
Batch number: 110 out of  500 index: 91342
Batch number: 111 out of  500 index: 92180
Batch number: 112 out of  500 index: 93018
Batch number: 113 out of  500 index: 93856
Batch number: 114 out of  500 index: 94694
Batch number: 115 out of  500 index: 95532
Batch number: 116 out of  500 index: 96370
Batch number: 117 out of  500 index: 97208
Batch number: 118 out of  500 index: 98046
Batch number: 119 out of  500 index: 98884
Batch number: 120 out of  500 index: 99722
Batch number: 121 out of  500 index: 100560
Batch number: 122 out of  500 index: 101398
Batch number: 123 out of  500 index: 102236
Batch number: 124 out of  500 index: 103074
Batch number: 125 out of  500 index: 103912
Batch number: 126 out of  500 index: 104750
Batch number: 127 out of  500 index: 105588
Batch number: 128 out of  500 index: 106426
Batch number: 129 out of  500 index: 107264
Batch number: 130 out of  500 index: 108102
Batch number: 131 out of  500 index: 108940
Batch number: 132 out of  500 index: 109778
Batch number: 133 out of  500 index: 110616
Batch number: 134 out of  500 index: 111454
Batch number: 135 out of  500 index: 112292
Batch number: 136 out of  500 index: 113130
Batch number: 137 out of  500 index: 113968
Batch number: 138 out of  500 index: 114806
Batch number: 139 out of  500 index: 115644
Batch number: 140 out of  500 index: 116482
Batch number: 141 out of  500 index: 117320
Batch number: 142 out of  500 index: 118158
Batch number: 143 out of  500 index: 118996
Batch number: 144 out of  500 index: 119834
Batch number: 145 out of  500 index: 120672
Batch number: 146 out of  500 index: 121510
Batch number: 147 out of  500 index: 122348
Batch number: 148 out of  500 index: 123186
Batch number: 149 out of  500 index: 124024
Batch number: 150 out of  500 index: 124862
Batch number: 151 out of  500 index: 125700
Batch number: 152 out of  500 index: 126538
Batch number: 153 out of  500 index: 127376
Batch number: 154 out of  500 index: 128214
Batch number: 155 out of  500 index: 129052
Batch number: 156 out of  500 index: 129890
Batch number: 157 out of  500 index: 130728
Batch number: 158 out of  500 index: 131566
Batch number: 159 out of  500 index: 132404
Batch number: 160 out of  500 index: 133242
Batch number: 161 out of  500 index: 134080
Batch number: 162 out of  500 index: 134918
Batch number: 163 out of  500 index: 135756
Batch number: 164 out of  500 index: 136594
Batch number: 165 out of  500 index: 137432
Batch number: 166 out of  500 index: 138270
Batch number: 167 out of  500 index: 139108
Batch number: 168 out of  500 index: 139946
Batch number: 169 out of  500 index: 140784
Batch number: 170 out of  500 index: 141622
Batch number: 171 out of  500 index: 142460
Batch number: 172 out of  500 index: 143298
Batch number: 173 out of  500 index: 144136
Batch number: 174 out of  500 index: 144974
Batch number: 175 out of  500 index: 145812
Batch number: 176 out of  500 index: 146650
Batch number: 177 out of  500 index: 147488
Batch number: 178 out of  500 index: 148326
Batch number: 179 out of  500 index: 149164
Batch number: 180 out of  500 index: 150002
Batch number: 181 out of  500 index: 150840
Batch number: 182 out of  500 index: 151678
Batch number: 183 out of  500 index: 152516
Batch number: 184 out of  500 index: 153354
Batch number: 185 out of  500 index: 154192
Batch number: 186 out of  500 index: 155030
Batch number: 187 out of  500 index: 155868
Batch number: 188 out of  500 index: 156706
Batch number: 189 out of  500 index: 157544
Batch number: 190 out of  500 index: 158382
Batch number: 191 out of  500 index: 159220
Batch number: 192 out of  500 index: 160058

Batch number: 193 out of  500 index: 160896
Batch number: 194 out of  500 index: 161734
Batch number: 195 out of  500 index: 162572
Batch number: 196 out of  500 index: 163410
Batch number: 197 out of  500 index: 164248
Batch number: 198 out of  500 index: 165086
Batch number: 199 out of  500 index: 165924
Batch number: 200 out of  500 index: 166762
Batch number: 201 out of  500 index: 167600
Batch number: 202 out of  500 index: 168438
Batch number: 203 out of  500 index: 169276
Batch number: 204 out of  500 index: 170114
Batch number: 205 out of  500 index: 170952
Batch number: 206 out of  500 index: 171790
Batch number: 207 out of  500 index: 172628
Batch number: 208 out of  500 index: 173466
Batch number: 209 out of  500 index: 174304
Batch number: 210 out of  500 index: 175142
Batch number: 211 out of  500 index: 175980
Batch number: 212 out of  500 index: 176818
Batch number: 213 out of  500 index: 177656
Batch number: 214 out of  500 index: 178494
Batch number: 215 out of  500 index: 179332
Batch number: 216 out of  500 index: 180170
Batch number: 217 out of  500 index: 181008
Batch number: 218 out of  500 index: 181846
Batch number: 219 out of  500 index: 182684
Batch number: 220 out of  500 index: 183522
Batch number: 221 out of  500 index: 184360
Batch number: 222 out of  500 index: 185198
Batch number: 223 out of  500 index: 186036
Batch number: 224 out of  500 index: 186874
Batch number: 225 out of  500 index: 187712
Batch number: 226 out of  500 index: 188550
Batch number: 227 out of  500 index: 189388
Batch number: 228 out of  500 index: 190226
Batch number: 229 out of  500 index: 191064
Batch number: 230 out of  500 index: 191902
Batch number: 231 out of  500 index: 192740
Batch number: 232 out of  500 index: 193578
Batch number: 233 out of  500 index: 194416
Batch number: 234 out of  500 index: 195254
Batch number: 235 out of  500 index: 196092
Batch number: 236 out of  500 index: 196930
Batch number: 237 out of  500 index: 197768
Batch number: 238 out of  500 index: 198606
Batch number: 239 out of  500 index: 199444
Batch number: 240 out of  500 index: 200282
Batch number: 241 out of  500 index: 201120
Batch number: 242 out of  500 index: 201958
Batch number: 243 out of  500 index: 202796
Batch number: 244 out of  500 index: 203634
Batch number: 245 out of  500 index: 204472
Batch number: 246 out of  500 index: 205310
Batch number: 247 out of  500 index: 206148
Batch number: 248 out of  500 index: 206986
Batch number: 249 out of  500 index: 207824
Batch number: 250 out of  500 index: 208662
Batch number: 251 out of  500 index: 209500
Batch number: 252 out of  500 index: 210338
Batch number: 253 out of  500 index: 211176
Batch number: 254 out of  500 index: 212014
Batch number: 255 out of  500 index: 212852
Batch number: 256 out of  500 index: 213690
Batch number: 257 out of  500 index: 214528
Batch number: 258 out of  500 index: 215366
Batch number: 259 out of  500 index: 216204
Batch number: 260 out of  500 index: 217042
Batch number: 261 out of  500 index: 217880
Batch number: 262 out of  500 index: 218718
Batch number: 263 out of  500 index: 219556
Batch number: 264 out of  500 index: 220394
Batch number: 265 out of  500 index: 221232
Batch number: 266 out of  500 index: 222070
Batch number: 267 out of  500 index: 222908
Batch number: 268 out of  500 index: 223746
Batch number: 269 out of  500 index: 224584
Batch number: 270 out of  500 index: 225422
Batch number: 271 out of  500 index: 226260
Batch number: 272 out of  500 index: 227098
Batch number: 273 out of  500 index: 227936
Batch number: 274 out of  500 index: 228774
Batch number: 275 out of  500 index: 229612
Batch number: 276 out of  500 index: 230450
Batch number: 277 out of  500 index: 231288
Batch number: 278 out of  500 index: 232126
Batch number: 279 out of  500 index: 232964
Batch number: 280 out of  500 index: 233802
Batch number: 281 out of  500 index: 234640
Batch number: 282 out of  500 index: 235478
Batch number: 283 out of  500 index: 236316
Batch number: 284 out of  500 index: 237154
Batch number: 285 out of  500 index: 237992
Batch number: 286 out of  500 index: 238830
Batch number: 287 out of  500 index: 239668
Batch number: 288 out of  500 index: 240506
Batch number: 289 out of  500 index: 241344
Batch number: 290 out of  500 index: 242182
Batch number: 291 out of  500 index: 243020
Batch number: 292 out of  500 index: 243858
Batch number: 293 out of  500 index: 244696
Batch number: 294 out of  500 index: 245534
Batch number: 295 out of  500 index: 246372
Batch number: 296 out of  500 index: 247210
Batch number: 297 out of  500 index: 248048
Batch number: 298 out of  500 index: 248886
Batch number: 299 out of  500 index: 249724
Batch number: 300 out of  500 index: 250562
Batch number: 301 out of  500 index: 251400
Batch number: 302 out of  500 index: 252238
Batch number: 303 out of  500 index: 253076
Batch number: 304 out of  500 index: 253914
Batch number: 305 out of  500 index: 254752
Batch number: 306 out of  500 index: 255590
Batch number: 307 out of  500 index: 256428
Batch number: 308 out of  500 index: 257266
Batch number: 309 out of  500 index: 258104
Batch number: 310 out of  500 index: 258942
Batch number: 311 out of  500 index: 259780
Batch number: 312 out of  500 index: 260618
Batch number: 313 out of  500 index: 261456
Batch number: 314 out of  500 index: 262294
Batch number: 315 out of  500 index: 263132
Batch number: 316 out of  500 index: 263970
Batch number: 317 out of  500 index: 264808
Batch number: 318 out of  500 index: 265646
Batch number: 319 out of  500 index: 266484
Batch number: 320 out of  500 index: 267322
Batch number: 321 out of  500 index: 268160
Batch number: 322 out of  500 index: 268998
Batch number: 323 out of  500 index: 269836
Batch number: 324 out of  500 index: 270674
Batch number: 325 out of  500 index: 271512
Batch number: 326 out of  500 index: 272350
Batch number: 327 out of  500 index: 273188
Batch number: 328 out of  500 index: 274026
Batch number: 329 out of  500 index: 274864
Batch number: 330 out of  500 index: 275702
Batch number: 331 out of  500 index: 276540
Batch number: 332 out of  500 index: 277378
Batch number: 333 out of  500 index: 278216
Batch number: 334 out of  500 index: 279054
Batch number: 335 out of  500 index: 279892
Batch number: 336 out of  500 index: 280730
Batch number: 337 out of  500 index: 281568
Batch number: 338 out of  500 index: 282406
Batch number: 339 out of  500 index: 283244
Batch number: 340 out of  500 index: 284082
Batch number: 341 out of  500 index: 284920
Batch number: 342 out of  500 index: 285758
Batch number: 343 out of  500 index: 286596
Batch number: 344 out of  500 index: 287434
Batch number: 345 out of  500 index: 288272
Batch number: 346 out of  500 index: 289110
Batch number: 347 out of  500 index: 289948
Batch number: 348 out of  500 index: 290786
Batch number: 349 out of  500 index: 291624
Batch number: 350 out of  500 index: 292462
Batch number: 351 out of  500 index: 293300
Batch number: 352 out of  500 index: 294138
Batch number: 353 out of  500 index: 294976
Batch number: 354 out of  500 index: 295814
Batch number: 355 out of  500 index: 296652
Batch number: 356 out of  500 index: 297490
Batch number: 357 out of  500 index: 298328
Batch number: 358 out of  500 index: 299166
Batch number: 359 out of  500 index: 300004
Batch number: 360 out of  500 index: 300842
Batch number: 361 out of  500 index: 301680
Batch number: 362 out of  500 index: 302518
Batch number: 363 out of  500 index: 303356
Batch number: 364 out of  500 index: 304194
Batch number: 365 out of  500 index: 305032
Batch number: 366 out of  500 index: 305870
Batch number: 367 out of  500 index: 306708
Batch number: 368 out of  500 index: 307546
Batch number: 369 out of  500 index: 308384
Batch number: 370 out of  500 index: 309222
Batch number: 371 out of  500 index: 310060
Batch number: 372 out of  500 index: 310898
Batch number: 373 out of  500 index: 311736
Batch number: 374 out of  500 index: 312574
Batch number: 375 out of  500 index: 313412
Batch number: 376 out of  500 index: 314250
Batch number: 377 out of  500 index: 315088
Batch number: 378 out of  500 index: 315926
Batch number: 379 out of  500 index: 316764

Batch number: 380 out of  500 index: 317602
Batch number: 381 out of  500 index: 318440
Batch number: 382 out of  500 index: 319278
Batch number: 383 out of  500 index: 320116
Batch number: 384 out of  500 index: 320954
Batch number: 385 out of  500 index: 321792
Batch number: 386 out of  500 index: 322630
Batch number: 387 out of  500 index: 323468
Batch number: 388 out of  500 index: 324306
Batch number: 389 out of  500 index: 325144
Batch number: 390 out of  500 index: 325982
Batch number: 391 out of  500 index: 326820
Batch number: 392 out of  500 index: 327658
Batch number: 393 out of  500 index: 328496
Batch number: 394 out of  500 index: 329334
Batch number: 395 out of  500 index: 330172
Batch number: 396 out of  500 index: 331010
Batch number: 397 out of  500 index: 331848
Batch number: 398 out of  500 index: 332686
Batch number: 399 out of  500 index: 333524
Batch number: 400 out of  500 index: 334362
Batch number: 401 out of  500 index: 335200
Batch number: 402 out of  500 index: 336038
Batch number: 403 out of  500 index: 336876
Batch number: 404 out of  500 index: 337714
Batch number: 405 out of  500 index: 338552
Batch number: 406 out of  500 index: 339390
Batch number: 407 out of  500 index: 340228
Batch number: 408 out of  500 index: 341066
Batch number: 409 out of  500 index: 341904
Batch number: 410 out of  500 index: 342742
Batch number: 411 out of  500 index: 343580
Batch number: 412 out of  500 index: 344418
Batch number: 413 out of  500 index: 345256
Batch number: 414 out of  500 index: 346094
Batch number: 415 out of  500 index: 346932
Batch number: 416 out of  500 index: 347770
Batch number: 417 out of  500 index: 348608
Batch number: 418 out of  500 index: 349446
Batch number: 419 out of  500 index: 350284
Batch number: 420 out of  500 index: 351122
Batch number: 421 out of  500 index: 351960
Batch number: 422 out of  500 index: 352798
Batch number: 423 out of  500 index: 353636
Batch number: 424 out of  500 index: 354474
Batch number: 425 out of  500 index: 355312
Batch number: 426 out of  500 index: 356150
Batch number: 427 out of  500 index: 356988
Batch number: 428 out of  500 index: 357826
Batch number: 429 out of  500 index: 358664
Batch number: 430 out of  500 index: 359502
Batch number: 431 out of  500 index: 360340
Batch number: 432 out of  500 index: 361178
Batch number: 433 out of  500 index: 362016
Batch number: 434 out of  500 index: 362854
Batch number: 435 out of  500 index: 363692
Batch number: 436 out of  500 index: 364530
Batch number: 437 out of  500 index: 365368
Batch number: 438 out of  500 index: 366206
Batch number: 439 out of  500 index: 367044
Batch number: 440 out of  500 index: 367882
Batch number: 441 out of  500 index: 368720
Batch number: 442 out of  500 index: 369558
Batch number: 443 out of  500 index: 370396
Batch number: 444 out of  500 index: 371234
Batch number: 445 out of  500 index: 372072
Batch number: 446 out of  500 index: 372910
Batch number: 447 out of  500 index: 373748
Batch number: 448 out of  500 index: 374586
Batch number: 449 out of  500 index: 375424
Batch number: 450 out of  500 index: 376262
Batch number: 451 out of  500 index: 377100
Batch number: 452 out of  500 index: 377938
Batch number: 453 out of  500 index: 378776
Batch number: 454 out of  500 index: 379614
Batch number: 455 out of  500 index: 380452
Batch number: 456 out of  500 index: 381290
Batch number: 457 out of  500 index: 382128
Batch number: 458 out of  500 index: 382966
Batch number: 459 out of  500 index: 383804
Batch number: 460 out of  500 index: 384642
Batch number: 461 out of  500 index: 385480
Batch number: 462 out of  500 index: 386318
Batch number: 463 out of  500 index: 387156
Batch number: 464 out of  500 index: 387994
Batch number: 465 out of  500 index: 388832
Batch number: 466 out of  500 index: 389670
Batch number: 467 out of  500 index: 390508
Batch number: 468 out of  500 index: 391346
Batch number: 469 out of  500 index: 392184
Batch number: 470 out of  500 index: 393022
Batch number: 471 out of  500 index: 393860
Batch number: 472 out of  500 index: 394698
Batch number: 473 out of  500 index: 395536
Batch number: 474 out of  500 index: 396374
Batch number: 475 out of  500 index: 397212
Batch number: 476 out of  500 index: 398050
Batch number: 477 out of  500 index: 398888
Batch number: 478 out of  500 index: 399726
Batch number: 479 out of  500 index: 400564
Batch number: 480 out of  500 index: 401402
Batch number: 481 out of  500 index: 402240
Batch number: 482 out of  500 index: 403078
Batch number: 483 out of  500 index: 403916
Batch number: 484 out of  500 index: 404754
Batch number: 485 out of  500 index: 405592
Batch number: 486 out of  500 index: 406430
Batch number: 487 out of  500 index: 407268
Batch number: 488 out of  500 index: 408106
Batch number: 489 out of  500 index: 408944
Batch number: 490 out of  500 index: 409782
Batch number: 491 out of  500 index: 410620
Batch number: 492 out of  500 index: 411458
Batch number: 493 out of  500 index: 412296
Batch number: 494 out of  500 index: 413134
Batch number: 495 out of  500 index: 413972
Batch number: 496 out of  500 index: 414810
Batch number: 497 out of  500 index: 415648
Batch number: 498 out of  500 index: 416486
Batch number: 499 out of  500 index: 417324
Batch number: 500 out of  500 index: 418162
Batch number: 501 out of  500 index: 419000
CPU times: user 30min 7s, sys: 3.46 s, total: 30min 10s
Wall time: 30min 11s

,word,cl_number,cluster_label,cl_size,ID,emb_vector,emb_0,emb_1,emb_2,emb_3,...,emb_290,emb_291,emb_292,emb_293,emb_294,emb_295,emb_296,emb_297,emb_298,emb_299
0,rise,1486,rise,20,0,"[-0.46326, 0.49222, 0.15795, 0.10404, 0.23174,...",-0.463260,0.49222,0.15795,0.104040,...,-0.539740,0.53004,0.376920,-0.102140,-0.17083,0.347810,-0.33974,-0.13493,0.46442,-0.001151
1,ascent,1486,rise,20,1,"[0.0056534, -0.17881, -0.54648, 0.030204, 0.10...",0.005653,-0.17881,-0.54648,0.030204,...,-0.278800,0.25070,0.049530,-0.092657,-0.28176,0.061938,0.37623,0.63426,0.51031,-0.278950
2,climb,1486,rise,20,2,"[0.0056534, -0.17881, -0.54648, 0.030204, 0.10...",0.005653,-0.17881,-0.54648,0.030204,...,-0.278800,0.25070,0.049530,-0.092657,-0.28176,0.061938,0.37623,0.63426,0.51031,-0.278950
3,defenceunless,1486,rise,20,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.000000,0.00000,0.00000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.00000,0.00000,0.00000,0.000000
4,trudge,1486,rise,20,4,"[0.69606, 0.29966, -0.14856, -0.14035, -0.0646...",0.696060,0.29966,-0.14856,-0.140350,...,0.013825,-0.51598,-0.020915,-0.491170,-0.23036,0.027205,0.79485,0.34300,-0.13924,-0.236760

In [10]:
df_tmp.shape

(419327, 306)

In [14]:
del df_tmp['emb_vector']

with open('./output/lda_keywords/word_embeddings.pickle', 'wb') as f:
    # Pickle the 'data' dictionary using the highest protocol available.
    pickle.dump(df_tmp, f, pickle.HIGHEST_PROTOCOL)

***

In [14]:
# get clustered words' embedings and cluster names(key words) from train corpus
with open(params["word_embeddings"], 'rb') as f:
    df_emb = pickle.load(f)
    

print(df_emb.shape)
df_emb.head()

(419327, 305)

,word,cl_number,cluster_label,cl_size,ID,emb_0,emb_1,emb_2,emb_3,emb_4,...,emb_290,emb_291,emb_292,emb_293,emb_294,emb_295,emb_296,emb_297,emb_298,emb_299
0,rise,1486,rise,20,0,-0.463260,0.49222,0.15795,0.104040,0.231740,...,-0.539740,0.53004,0.376920,-0.102140,-0.17083,0.347810,-0.33974,-0.13493,0.46442,-0.001151
1,ascent,1486,rise,20,1,0.005653,-0.17881,-0.54648,0.030204,0.102000,...,-0.278800,0.25070,0.049530,-0.092657,-0.28176,0.061938,0.37623,0.63426,0.51031,-0.278950
2,climb,1486,rise,20,2,0.005653,-0.17881,-0.54648,0.030204,0.102000,...,-0.278800,0.25070,0.049530,-0.092657,-0.28176,0.061938,0.37623,0.63426,0.51031,-0.278950
3,defenceunless,1486,rise,20,3,0.000000,0.00000,0.00000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.00000,0.00000,0.00000,0.000000
4,trudge,1486,rise,20,4,0.696060,0.29966,-0.14856,-0.140350,-0.064606,...,0.013825,-0.51598,-0.020915,-0.491170,-0.23036,0.027205,0.79485,0.34300,-0.13924,-0.236760

In [15]:
# extract keywords from text
NPs_and_Vs = tm.get_NPs_Vs(text)
df_text_words = pd.DataFrame(NPs_and_Vs, columns=['text_words'])
df_text_words.head()

                                         text_words
0  american economic associations annual conference
1                                  gigantic teachin
2                                               lot
3                                           seminar
4                                  famous economist

In [16]:
df_text_emb = tm.get_word_embeddings(
    df_text_words, column="text_words")
df_text_emb.head()

,text_words,emb_0,emb_1,emb_2,emb_3,emb_4,emb_5,emb_6,emb_7,emb_8,...,emb_290,emb_291,emb_292,emb_293,emb_294,emb_295,emb_296,emb_297,emb_298,emb_299
0,american economic associations annual conference,-0.265382,0.235481,0.424552,0.021250,0.136934,-0.132931,0.235726,0.215936,0.092619,...,-0.155192,0.309780,0.037510,-0.177867,-0.002442,-0.136568,-0.004954,-0.063044,-0.122973,0.135374
1,gigantic teachin,-0.380575,-0.493945,-0.122119,-0.133775,0.207755,0.268635,0.110875,-0.193830,-0.010935,...,0.125790,-0.227065,-0.098470,-0.107917,-0.068435,0.474360,-0.011745,0.262315,0.077990,-0.025215
2,lot,-0.333550,0.496110,-0.278580,-0.205060,0.060868,0.362190,0.055708,-0.268580,0.194180,...,-0.602150,-0.135000,0.127240,0.174240,0.230420,0.409130,-0.217800,-0.480430,0.063816,0.206200
3,seminar,0.050256,0.147340,0.314340,0.311440,0.105810,0.018469,0.321830,-0.340100,-0.098713,...,0.391750,-0.031723,0.628290,0.236540,0.054023,0.027702,0.410360,0.537090,-0.839910,0.303440
4,famous economist,0.043425,0.202752,-0.120916,-0.037330,0.192971,0.266181,0.257690,-0.133566,-0.178595,...,0.070634,0.291185,-0.121925,0.314200,0.206443,-0.189470,0.273500,0.078929,0.206745,0.107417

In [17]:
# find closest word in train corpus and get cluster name
from sklearn.metrics.pairwise import cosine_similarity

columns = ["emb_" + str(i) for i in range(300)]
sim_values = cosine_similarity(df_text_emb[columns], df_emb[columns])
max_sim_values = np.max(sim_values, axis=1)
df_text_words['take_cluster_name'] = max_sim_values >= 0.7
df_text_words['sim_max_index'] = np.argmax(sim_values, axis=1)

In [18]:
df_text_words['keyword'] = df_text_words.apply(
        tm.get_keyword, axis=1, args=[df_emb])

words_for_LDA = list(df_text_words['keyword'])
words_for_LDA = [w.replace(" ", "_") for w in words_for_LDA if len(w) > 0]

text = " ".join(words_for_LDA)
text

'american_public_health_association gigantic_teachin lot seminar economist twoday_event san_francisco small_business keio_university room marathon_interview_session freshly_minted_phds ballroom marriott tumultuous_week candidate grad_student enlist end day alan_ferguson christopher_bonanos stetson_university small_school florida candidate interest health development dozen_candidate promising_one cdcs_roybal_campus rest mit inbox daily_dispatch editors held involving held going tied schenkerwinkler_holding_swh minting set comparison consider seen looking plan grill invited visit meet upgrade'

In [19]:
# load pre-trained topics
LDA_topics_df_path = params["topics_df_path"]
with open(LDA_topics_df_path, 'rb') as f:
    df_topics = pickle.load(f)
df_topics.head(1)

,first_level_topic,first_level_topic_name,second_level_topic,second_level_topic_name,third_level_topic,third_level_topic_name
0,0,hard seltzer,0.0,dl1850,0.0.0,kleinman

In [20]:
# first level
first_LDA_dict_path = params["first_dictionary_path"]
first_LDA_model_path = params["first_LDA_model_path"]
t1, t1_proba = tm.get_top_topic_index(text,
                                   params={"LDA_dictionary_path": first_LDA_dict_path,
                                           "LDA_model_path": first_LDA_model_path
                                           }
                                   )
t1, t1_proba

(5, 0.5373726)

In [21]:
# second level
second_LDA_dict_path = first_LDA_dict_path[:-
                                           7] + "_" + str(t1 + 1) + ".pickle"
second_LDA_model_path = first_LDA_model_path + "_" + str(t1 + 1)
t2, t2_proba = tm.get_top_topic_index(text,
                                   params={"LDA_dictionary_path": second_LDA_dict_path,
                                           "LDA_model_path": second_LDA_model_path
                                           }
                                   )
t2, t2_proba

(4, 0.9047526)

In [22]:
# third level
third_LDA_dict_path = first_LDA_dict_path[:-7] + \
    "_" + str(t1 + 1) + "_" + str(t2 + 1) + ".pickle"
third_LDA_model_path = first_LDA_model_path + \
    "_" + str(t1 + 1) + "_" + str(t2 + 1)
t3, t3_proba = tm.get_top_topic_index(text,
                                   params={"LDA_dictionary_path": third_LDA_dict_path,
                                           "LDA_model_path": third_LDA_model_path
                                           }
                                   )
t3, t3_proba

(1, 0.9850626)

In [23]:
# get topic names
if t1 == -1:
    t1_name = "misc."
else:
    t1_name = df_topics[df_topics['first_level_topic']
                        == t1]['first_level_topic_name'].iloc[0]
t1_name

'boeing ba'

In [24]:
if t2 == -1:
    t2_name = "misc."
else:
    t2_name = df_topics[df_topics['second_level_topic'] == str(t1) +
                        '.' + str(t2)]['second_level_topic_name'].iloc[0]
t2_name

'rocket'

***

In [5]:
tm.predict_topics(text,
                  params={"topics_df_path": './output/lda_keywords/topics.pickle',
                          "word_embeddings": './output/lda_keywords/word_embeddings.pickle',
                          "first_dictionary_path": "./output/lda_keywords/dictionary1.pickle" ,
                          "first_LDA_model_path": "./output/lda_keywords/LDA_model1"
                         }
              )

{'first_level_topic': 1,
 'first_level_topic_name': 'daily dispatch',
 'first_level_topic_proba': 0.51461256,
 'second_level_topic': 1,
 'second_level_topic_name': 'inflation',
 'second_level_topic_proba': 0.36204377,
 'third_level_topic': 1,
 'third_level_topic_name': 'alibaba',
 'third_level_topic_proba': 0.6143617}